.main {
  position: fixed;
  bottom: 0;
  margin-bottom: 10px;
}
.button {
  border-radius: 8px;
  width: 80vw;
  height: 17vh;
  max-width: 300px;
  max-height: 85px;
  margin-top: 3vh;
  border-color: transparent;
}

.button:active,
.button:hover {
  transform: scale(1.1);
  box-shadow: 0px 8px 4px rgba(0, 0, 0, 0.25);
}

.color_green {
  background: #4ea64e;
}
